{% extends 'finance/finance_base.html'%}
{% load static %}
{% block title%}| Zonal Offices Dashboard {% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/finance.css' %}" />
{% endblock %}


{% block content %}


<!--BODY STARTS-->
<div class="mehq-container">
          <div class="section-1">
            <div class="first">
                <i class="fa fa-hourglass-half"></i><p>Due for Payment</p>
                <h2>21</h2>
                <p class="para">6 Processed Payments[Yr 2019]</p>
            </div>
            <div class="first">
                <i class="fa fa-money-bill-alt"></i><p>Total Payments Today</p>
                <h2>13</h2>
                <p class="para">2 Total Payments for [Yr 2019]</p>
            </div>
            <div class="first">
                <i class="fa fa-lightbulb"></i><p>Total Amounts Paid for the Month</p>
                <h2>N500,000</h2>
                <p class="para">0 Total Amount Paid for [Yr 2019]</p>
            </div>
          </div>

          <div class="section2">

              <div class="inner">
                  <div class="one">
                    <img src="{% static 'img/orange_verified_user.png' %}" alt="">
                  </div>
                  <div class="two">
                    <p class="big">Process Payments</p>
                    <i class="fa fa-check-circle"></i><span class="font-up"><a href="http://">List Payment Entries</a></span><br>
                    <i class="fa fa-check-circle"></i><span class="font-up"><a href="#">Process Fee Payments</a></span><br>
                  </div>
              </div>
              <div class="inner">
                  <div class="one">
                    <img src="{% static 'img/orange_incandescent.png' %}" alt="">
                  </div>
                  <div class="two">
                    <p class="big">View Payment Details</p>
                    <i class="fa fa-check-circle"></i><span class="font-up"><a href="#">View Online Payments</a></span><br>
                    <i class="fa fa-check-circle"></i><span class="font-up"><a href="#">View Bank Payments</a></span>
                  </div>
              </div>
              <div class="inner">
                  <div class="one">
                    <img src="{% static 'img/orange_build.png' %}" alt="">
                  </div>
                  <div class="two">
                    <p class="big">Utilities</p>
                    <i class="fa fa-check-circle"></i><span class="font-up"><a href="{% url 'hospitals_lookup' %}">Hospital/Center Lookup</a></span><br>
                    <i class="fa fa-check-circle"></i><span class="font-up"><a href="{% url 'licenses_lookup' %}">Hospitals Radiography Practice Licence Lokup</a></span><br>
                    <i class="fa fa-check-circle"></i><span class="font-up"><a href="{% url 'rrbn_offices' %}">List of RRBN Zonal offices</a></span><br>
                    <i class="fa fa-check-circle"></i><span class="font-up"><a href="#">Licence Categories and Processing Fees</a></span><br>
                    <i class="fa fa-check-circle"></i><span class="font-up"><a href="#">Document Verification Service</a></span><br>
                  </div>
              </div>
          <!--End of body-->
          </div>

          <div class="section3">

              <div class="inner">
                  <div class="one">
                    <img src="{% static 'img/orane_dvr.png' %}" alt="">
                  </div>
                  <div class="two">
                      <p class="big">Reports & Analytics</p>
                      <i class="fa fa-check-circle"></i><span class="font-up"><a href="#">BI reports</a> </span><br>
                    </div>
              </div>
              <div class="inner">
                  <div class="one">
                    <img src="{% static 'img/orange_person.png' %}" alt="">
                  </div>
                  <div class="two">
                      <p class="big">My Portal Account</p>
                      <i class="fa fa-check-circle"></i><span class="font-up"><a href="#">My User Account</a> </span><br>
                    </div>
              </div>
          <!--End of body-->
          </div>
        </div>
<!--BODY ENDS-->

{% endblock %}
