{% extends 'zonal_offices/zonal_office_base.html' %}
{% load static %}
{% block title%}| Zonal Offices Dashboard {% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/zonal_office_module.css' %}" />
{% endblock %}


{% block content %}


<!--BODY STARTS-->
<div class="mehq-container">
          <div class="section-2">
              <i class="fa fa-info-circle"></i>
              <span>Dear {{user.profile.module_name }} user<br>Welcome to the Zonal Office Console<br>You can easily manage Inspections schedules, Upload Inspection Reports, access numerous operational reports etc.</span>
          </div>
          <div class="seca">
            <div class="first">
              <i class="fa fa-list"></i>
              <span>Centers/Hospitals Inspection Reports</span>
            </div>
            <div class="second">
              <table class="content-table">
                <tr>
                  <td>Total Pending Inspections: </td>
                  <td style="color:gold;">1</td>
                </tr>
                <tr>
                  <td>Total Completed Inspections: </td>
                  <td style="color:red;">3</td>
                </tr>
                <tr>
                  <td>Total Elapsed Deadlines: </td>
                  <td style="color:blue;">0</td>
                </tr>
                <tr>
                  <td>Inspections Scheduled for Today: </td>
                  <td style="color:red;">6</td>
                </tr>
              </table>
            </div>
            <div class="third">
              <i class="fa fa-arrow-circle-down"></i>
              <span>Centers/Hospitals Inspection Reports</span>
            </div>
            <div class="forth">
              <img src="{% static 'img/word.png' %}" alt="word image">
              <span>Hospitls/Centers Inspection Template</span>
            </div>
          </div>
          <div class="secb">
          <div class="section2">
              <div class="inner">
                  <div class="one">
                    <img src="{% static 'img/orange_incandescent.png' %}" alt="">
                  </div>
                  <div class="two">
                    <p class="big">Inspections</p>
                    <i class="fa fa-check-circle"></i><span class="font-up"><a href="#">Schedule Inspections</a></span><br>
                    <i class="fa fa-check-circle"></i><span class="font-up"><a href="#">Inspection Schedule List</a></span><br>
                    <i class="fa fa-check-circle"></i><span class="font-up"><a href="#">Inspection Report</a></span><br>
                  </div>
              </div>
              <div class="inner">
                  <div class="one">
                      <img src="{% static 'img/orange_build.png' %}" alt="">
                  </div>
                  <div class="two">
                    <p class="big">Utilities</p>
                    <i class="fa fa-check-circle"></i><span class="font-up"><a href="{% url 'hospitals:hospitals_lookup' %}">Hospitals/Center Lookup</a></span><br>
                    <i class="fa fa-check-circle"></i><span class="font-up"><a href="{% url 'hospitals:licenses_lookup' %}">Hospitals Practice License Lookup</a></span><br>
                    <i class="fa fa-check-circle"></i><span class="font-up"><a href="{% url 'rrbn_offices' %}">List of RRBN Zonal Offices</a></span><br>
                    <i class="fa fa-check-circle"></i><span class="font-up"><a href="#">License Categories & Processing Fees</a></span><br>
                    <i class="fa fa-check-circle"></i><span class="font-up"><a href="#">Document Verification Service</a></span><br>
                  </div>
              </div>
          <!--End of body-->
          </div>

          <div class="section3">

              <div class="inner">
                  <div class="one">
                    <img src="{% static 'img/orane_dvr.png' %}" alt="">
                  </div>
                  <div class="two">
                      <p class="big">Process Applications</p>
                      <i class="fa fa-check-circle"></i><span class="font-up"><a href="#">BI reports</a> </span><br>
                    </div>
              </div>
              <div class="inner">
                  <div class="one">
                    <img src="{% static 'img/orange_person.png' %}" alt="">
                  </div>
                  <div class="two">
                      <p class="big">My Portal Account</p>
                      <i class="fa fa-check-circle"></i><span class="font-up"><a href="#">My User Account</a> </span><br>
                    </div>
              </div>
          <!--End of body-->
          </div>
        </div>
        </div>
<!--BODY ENDS-->

{% endblock %}
