{% extends 'registrars_office/registrar_base.html'%}
{% load static %}
{% block title%}| Hospitals Look Up {% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mehq-module.css' %}" />
{% endblock %}


{% block content %}


<div class="container">
    <h3>Hospital Data Look up</h3>
        <table class="table table-striped table-bordered table-hover" id="mydata">
            <thead>
             <tr style="background: #32776B">
               <td style="color: #fff;" >SN</td>
               <td style="color: #fff;" >Hospital Name</td>
               <td style="color: #fff;" >Address</td>
              <td style="color: #fff;" >State</td>
               <td style="color: #fff;" >Services</td>
               <td style="color: #fff;" >Equipment</td>
               <td style="color: #fff;" >Radiographers</td>
             </tr>
            </thead>
            <tfoot>
             <tr style="background: #32776B">
               <td style="color: #fff;" >SN</td>
               <td style="color: #fff;" >Hospital Name</td>
               <td style="color: #fff;" >Address</td>
               <td style="color: #fff;" >State</td>
               <td style="color: #fff;" >Services</td>
               <td style="color: #fff;" >Equipment</td>
               <td style="color: #fff;" >Radiographers</td>
              </tr>
            </tfoot>
            <tbody>
              {% if hospital %}
                {% for hospital in hospital %}
                <tr>
                  <td>{{hospital.id}} </td>
                  <td>{{hospital.hospital_name}}</td>
                  <td>{{hospital.address}}</td>
                  <td>{{hospital.state}}</td>
                  <td>{{hospital.services}}</td>
                  <td>{{hospital.equipment}}</td>
                  <td>{{hospital.radiographers}}</td>
               </tr>
               {% endfor %}
              {% else %}
                <div class="col-md-12">
                  <p>No Hospitals Available</p>
                </div>

              {% endif %}


            </tbody>
          </table>
</div>

<!--Jquery plugin-->
  <script src="{% static 'js/jquery.js' %}"></script>

<!--other javascript plugins-->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
  <script>
  $('#mydata').dataTable();

  let urlMenu = document.getElementById('dropdown');
  urlMenu.onchange = function(){
    let userOption = this.options[this.selectedIndex];
    if(userOption.value != "nothing"){
      window.open(userOption.value, "_self", "");
    }
  }
  </script>


{% endblock %}
