{% extends 'base-reg.html'%}
{% load static %}
{% block title%}| Welcome {% endblock %}
{% block content %}
<main class="container">

        <div class="row">
            <div class="col-md-8 m-auto">
                <img class="progress mb-5" src="{% static 'img/progress_bar.jpg' %}" alt="progress bar">
            </div>
        </div>

        <div class="row bg-success rounded">
            <div class="col-md-11 m-auto">
                <span class="fa fa-check text-white text-center pl-6 pt-2 w-75"></span>
                <p class="text-white pt-2 tetx-center">Your interest to register your hospital/centre has been submitted successfully to RRBN. We will verify your details and document(s); once verified, a User Account will be created for you to continue your application.  Your Application Number is {{object.id}}.  Kindly note this number as it will be needed to continue you application, thank you. </p>
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-md-6 mt-3">
                <div class="col-md-12">
                  <div class="row">
                      <span class="col-5">Application No:</span>
                      <span class="col-6"><strong>{{object.id}}</strong></span>
                  </div>
                    <div class="row">
                        <span class="col-5">Hospital Name:</span>
                        <span class="col-6"><strong>{{object.hospital_name}}</strong></span>
                    </div>
                    <div class="row">
                        <span class="col-5">RC Number:</span>
                        <span class="col-6 "><strong>{{object.rc_number}}</strong></span>
                    </div>
                    <div class="row">
                        <span class="col-5">Phone:</span>
                        <span class="col-6"><strong>{{object.phone}}</strong></span>
                    </div>
                    <div class="row">
                        <span class="col-5">Email:</span>
                        <span class="col-6"><strong>{{object.email}}</strong></span>
                    </div>
                    <div class="row">
                        <span class="col-5">State:</span>
                        <span class="col-6"><strong>{{object.state}}</strong></span>
                    </div>
                    <div class="row">
                        <span class="col-5">City:</span>
                        <span class="col-6"><strong>{{object.city}}</strong></span>
                    </div>
                    <div class="row">
                        <span class="col-5">Address:</span>
                        <span class="col-6"><strong>{{object.address}}</strong></span>
                    </div>
                </div>
            </div>

            </div>
            <div class="row justify-content-md-center mt-3">
                <div class="col-md-6">
                    <div class="col-md-9">
                        <a href="{% url 'index' %}" <button type="button" name="cancel" class="btn btn-danger">&times; Close</button></a>

                    </div>
                </div>
            </div>
    </main>
{% endblock %}
