{% extends 'base-reg.html'%}
{% load static %}
{% block title%}| Welcome {% endblock %}
{% block content %}
<main class="container">

        <div class="row">
            <div class="col-md-8 m-auto">
                <img class="progress mb-5" src="{% static 'img/progress_bar.jpg' %}" alt="progress bar">
            </div>
        </div>

        <div class="row bg-success rounded">
            <div class="col-md-6 m-auto">
                <p class="text-center text-white pt-2">Upload you company's CAC certificate of Incorporation</p>
            </div>
        </div>



        <div class="row">
            <div class="col-md-5 mt-3">
                <div class="col-md-12">
                    <div class="row">
                        <span class="col-5">Hospital Name:</span>
                        <span class="col-6"><strong>{{hospital.hospital_name}}</strong></span>
                    </div>
                    <div class="row">
                        <span class="col-5">RC Number:</span>
                        <span class="col-6"><strong>{{hospital.rc_number}}</strong></span>
                    </div>
                    <div class="row">
                        <span class="col-5">Phone:</span>
                        <span class="col-6"><strong>{{hospital.phone}}</strong></span>
                    </div>
                    <div class="row">
                        <span class="col-5">Email:</span>
                        <span class="col-6"><strong>{{hospital.email}}</strong></span>
                    </div>
                    <div class="row">
                        <span class="col-5">State:</span>
                        <span class="col-6"><strong>{{hospital.state}}</strong></span>
                    </div>
                    <div class="row">
                        <span class="col-5">City:</span>
                        <span class="col-6"><strong>{{hospital.city}}</strong></span>
                    </div>
                    <div class="row">
                        <span class="col-5">Address:</span>
                        <span class="col-6"><strong>{{hospital.address}}</strong></span>
                    </div>
                </div>
            </div>
            <div class="col-md-7 mt-3">
              <form method="POST" action="#" enctype="multipart/form-data" class="needs-validation" novalidate>
                  {% csrf_token %}
                    <div class="info mb-3">
                        <strong>*Certificate of Incorporation</strong>

                        <br />
                        <input type="file" name="cac_certificate" />
                        <br />

                    <div class="info">
                        Max allowed file 50kb [Upload only image file]
                    </div>

                    <div class="info mt-3">
                        *Radiographer's Practice License
                    </div>

                        <br />
                        <input type="file" name="practice_license" />
                        <br />

                    </div>
                    <div class="info mb-3">
                        Max allowed file 50kb [Upload only image file]
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                            <label class="form-check-label" for="invalidCheck">
                                I agree that all my details are correct!
                            </label>
                            <div class="invalid-feedback">
                                You must agree before submitting.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-9 m-auto">
                                <button type="button" class="btn btn-outline-dark">&times; Cancel</button>
                                <a href="#" <button type="button" class="btn btn-danger">&#8678; Go Back</button></a>
                                <button type="submit" class="btn btn-success">Proceed &#x21E8;</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}
