{% extends 'monitoring/monitoring_base.html'%}
{% load static %}
{% block title%}| Hospital Radiography Practice Licenses Look Up {% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/hospital_lookup.css' %}" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css"/>
{% endblock %}


{% block content %}

<main class="container">
       <div class="row">
           <div class="col col-lg-12">
            <h3>Hospital Radiography Practice Licence Records</h3>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="mydata">
                    <thead>
                     <tr style="background: #34495E;">
                       <td style="color: #fff;" >Licence No</td>
                       <td style="color: #fff;" >Hospital Name</td>
                       <td style="color: #fff;" >RC Number</td>
                       <td style="color: #fff;" >Category</td>
                       <td style="color: #fff;" >Issue Date</td>
                       <td style="color: #fff;" >Expiry Date</td>
                       <td style="color: #fff;" >Status</td>
                     </tr>
                    </thead>


                    <tfoot>
                      <tr style="background: #34495E;">
                        <td style="color: #fff;" >Licence No</td>
                        <td style="color: #fff;" >Hospital Name</td>
                        <td style="color: #fff;" >RC Number</td>
                        <td style="color: #fff;" >Category</td>
                        <td style="color: #fff;" >Issue Date</td>
                        <td style="color: #fff;" >Expiry Date</td>
                        <td style="color: #fff;" >Status</td>
                      </tr>
                    </tfoot>
                    <tbody>

                      {% if license %}
                        {% for license in license %}
                        <tr>
                          <td>{{license.id}} </td>
                          <td>{{license.hospital_name}}</td>
                          <td>1022122</td>
                          <td>{{license.license_category}}</td>
                          <td>{{license.issue_date}}</td>
                          <td>{{license.expiry_date}}</td>
                          <td>{{license.status}}</td>
                       </tr>
                       {% endfor %}
                      {% else %}
                      <div class="col-md-12">
                      <p>No Practice Licenses Available</p>
                      </div>

                      {% endif %}
                  </tbody>
            </table>
            </div>
           </div>
       </div>
    </main>






<!--Jquery plugin-->
<script src="{% static 'js/jquery.js' %}"></script>

<!--other javascript plugins-->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>
<script>
$('#mydata').dataTable();

    let urlMenu = document.getElementById('dropdown');
    urlMenu.onchange = function(){
      let userOption = this.options[this.selectedIndex];
      if(userOption.value != "nothing"){
        window.open(userOption.value, "_self", "");
      }
    }
</script>

{% endblock %}
