<div class="footer">
       <div class="footer-container">
         <div class="footer-box">
             <p class="fp">RRBN</p>
             <p class="fp2">
               RRBN's key mandate is to regulate the practice of radiography in Nigeria.
             </p><br>
             <p class="fp2">
               The M&E Portal automates all processes for regulation of Radiography Practice in Nigeria by RRBN.
             </p>
         </div>

         <div class="footer-box">
             <p class="fp">Home Links</p>
             <a href="index.html">Home</a><br />
             <a href="about-us.html">About</a><br />
             <a href="services.html">Services</a><br />
             <a href="help.html">Help</a><br />
         </div>
         <div class="footer-box">
           <p class="fp">External Links</p>
           <a href="http://rrbn.gov.ng">RRBN</a><br />
           <a href="#">ARN</a><br />
           <a href="#">NJIRT</a><br />
           <a href="#">MINISTRY OF HEALTH</a>
         </div>
         <div class="footer-box">
           <p class="fp">Contact Us</p>
           <p class="fp2">
             Federal Secretariat Complex, Phase 1 Annex III, 4th Floor,
             <br>Central Area - Abuja, Nigeria.
           </p>
           <p class="fp2">+234 092914928, 08039472126, 08097995066</p>
           <p class="fp2">info@rrbn.gov.ng, monitoring@rrbn.gov.ng</p>
           <p class="fp2">www.rrbn.gov.ng</p>
         </div>
       </div>
         <div class="copyright">
           <div class="copyright-container">
             <center><p>
                 &copy All Rights Reserved RRBN 2019 | Powered by RRBN</center>
             /div>
         </div>
     </div>
