<!--NAV STARTS HERE-->


  <nav>
    <ul>
      <li><a href="{% url 'index' %}" class="active">HOME <span class="fa fa-home"></span> </a></li>
      <li><a href="{% url 'about' %}">ABOUT</a></li>
      <li><a href="#">SERVICES<span class="ml"> <i class="fa fa-angle-double-down ml"></i></span></a>
        <ul>
            <li><a href="{% url 'hospitals:start-reg' %}">Register Practice</a></li>
            <li><a href="#">Renew Practice</a></li>
            <li><a href="#">Reopen Practice</a></li>
            <li><a href="#">Validate Practice</a></li>
            <li><a href="#">Internship Accreditation</a></li>
        </ul>
      </li>
      <li><a href="#">HELP<span class="ml"> <i class="fa fa-angle-double-down ml"></i></span></a>
        <ul>
            <li><a href="{% url 'guidelines' %}">Guidelines</a></li>
            <li><a href="{% url 'faq' %}">FAQ</a></li>
            <li><a href="{% url 'zonal_offices' %}">Zonal Offices</a></li>
            <li><a href="{% url 'internship_centers' %}">Internship Centres</a></li>
        </ul>
      </li>
      <li><a href="{% url 'contact' %}">CONTACT US</a></li>
    </ul>
    </nav>






<!--NAV ENDS HERE-->
