{% extends 'monitoring/monitoring_base.html'%}
{% load static %}
{% block title%}| M&E Dashboard {% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mehq-module.css' %}" />
{% endblock %}


{% block content %}


<!--BODY STARTS-->
<div class="mehq-container">
          <div class="section-1">
            <div class="first">
                <i class="fa fa-hourglass-half"></i><p>Pending Doc verification</p>
                <h2>21</h2>
                <p class="para">6 Verified  Applications[Yr 2019]</p>
            </div>
            <div class="first">
                <i class="fa fa-money-bill-alt"></i><p>Due for Payment</p>
                <h2>3</h2>
                <p class="para">2 Processed Payment[Yr 2019]</p>
            </div>
            <div class="first">
                <i class="fa fa-clock"></i><p>Due for Inspection</p>
                <h2>0</h2>
                <p class="para">0 Inspections[Yr 2019]</p>
            </div>
            <div class="first">
                <i class="fa fa-lightbulb"></i><p>Pending inspections</p>
                <h2>0</h2>
                <p class="para">0 Completed Inspections[2019]</p>
            </div>
            <div class="first">
                <i class="fa fa-share-square"></i><p>Awaiting inc. Approval</p>
                <h2>0</h2>
                <p class="para">0 Approved inspections[2019]</p>
            </div>
          </div>

          <div class="section2">

              <div class="inner">
                  <div class="one">
                    <img src="{% static 'img/orange_verified_user.png' %}" alt="">
                  </div>
                  <div class="two">
                    <p class="big">Process Applications</p>
                    <i class="fa fa-check-circle"></i><span class="font-up"><a href="{% url 'list' %}">List Application Entries</a></span><br>
                  </div>
              </div>
              <div class="inner">
                  <div class="one">
                    <img src="{% static 'img/orange_incandescent.png' %}" alt="">
                  </div>
                  <div class="two">
                    <p class="big">Inspections</p>
                    <i class="fa fa-check-circle"></i><span class="font-up"><a href="#">Schedule Inspections</a></span><br>
                    <i class="fa fa-check-circle"></i><span class="font-up"><a href="#">Inspection Schedules List</a></span><br>
                    <i class="fa fa-check-circle"></i><span class="font-up"><a href="#">Inspection Reports</a></span><br>
                  </div>
              </div>
              <div class="inner">
                  <div class="one">
                    <img src="{% static 'img/orange_build.png' %}" alt="">
                  </div>
                  <div class="two">
                    <p class="big">Utilities</p>
                    <i class="fa fa-check-circle"></i><span class="font-up"><a href="{% url 'hospitals_lookup' %}">Hospital/Center Lookup</a></span><br>
                    <i class="fa fa-check-circle"></i><span class="font-up"><a href="{% url 'licenses_lookup' %}">Hospitals Practice License Lookup</a></span><br>
                    <i class="fa fa-check-circle"></i><span class="font-up"><a href="{% url 'rrbn_offices' %}">List of RRBN Zonal Offices</a></span><br>
                    <i class="fa fa-check-circle"></i><span class="font-up"><a href="#">License Categories & Processing Fees</a></span><br>
                    <i class="fa fa-check-circle"></i><span class="font-up"><a href="#">Document Verification Service</a></span><br>
                  </div>
              </div>
          <!--End of body-->
          </div>

          <div class="section3">

              <div class="inner">
                  <div class="one">
                    <img src="{% static 'img/orane_dvr.png' %}" alt="">
                  </div>
                  <div class="two">
                      <p class="big">Process Applications</p>
                      <i class="fa fa-check-circle"></i><span class="font-up"><a href="#">BI reports</a> </span><br>
                    </div>
              </div>
              <div class="inner">
                  <div class="one">
                    <img src="{% static 'img/orange_person.png' %}" alt="">
                  </div>
                  <div class="two">
                      <p class="big">My Portal Account</p>
                      <i class="fa fa-check-circle"></i><span class="font-up"><a href="#">My User Account</a> </span><br>
                    </div>
              </div>
          <!--End of body-->
          </div>
        </div>
        <script>
            let urlMenu = document.getElementById('dropdown');
            urlMenu.onchange = function(){
              let userOption = this.options[this.selectedIndex];
              if(userOption.value != "nothing"){
                window.open(userOption.value, "_self", "");
              }
            }
          </script>
        </body>
        </html>


<!--BODY ENDS-->

{% endblock %}
