{% extends 'monitoring/monitoring_base.html'%}
{% load static %}
{% block title%}| Vet Registration Applications {% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles-vet.css' %}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
{% endblock %}


{% block content %}

<main class="container">
        <div class="row">
            <div class="col-md-6">
               <h2 class="text-left ml-2 text-muted">Vet New Hospital Registration</h2>
            </div>
            <div class="underline ml-4"></div>
        </div>
        <div class="row">
            <div class="col-md-5 mt-3">
                <div class="col-md-12">
                    <div class="row">
                      <span class="col-5">Hospital Name:</span>
                      <span class="col-6"><strong>{{hospital.hospital_name}}</strong></span>
                  </div>
                  <div class="row">
                      <span class="col-5">RC Number:</span>
                      <span class="col-6 "><strong>{{hospital.rc_number}}</strong></span>
                  </div>
                  <div class="row">
                      <span class="col-5">Category:</span>
                      <span class="col-6"><strong>New Registration</strong></span>
                  </div>
                  <div class="row">
                      <span class="col-5">Telephone:</span>
                      <span class="col-6"><strong>{{hospital.phone}}</strong></span>
                  </div>
                  <div class="row">
                      <span class="col-5">Email:</span>
                      <span class="col-6"><strong>{{hospital.email}}</strong></span>
                  </div>
                  <div class="row">
                      <span class="col-5">Contact Address:</span>
                      <span class="col-6"><strong>{{hospital.address}}</strong></span>
                  </div>
                  <div class="row">
                      <span class="col-5">City:</span>
                      <span class="col-6"><strong>{{hospital.city}}</strong></span>
                  </div>
                  <div class="row">
                      <span class="col-5">State of Location:</span>
                      <span class="col-6"><strong>{{hospital.state}}</strong></span>
                    </div>
                </div>
            </div>
            <!--Right col starts here -->
            <div class="col-md-5 offset-md-2 mt-3">
                <div class="col-md-12">
                    <p class="text-success">Uploaded Documents</p>
                    <div class="row">
                        <span class="col-5">CAC Document:</span>
                        <span class="col-6"><i class="fa fa-eye text-dark"></i>
                        <a class="text-danger" data-fancybox="gallery" href="{{hospital.cac_certificate.url}}"> View CAC Documents</a></span>
                    </div>
                    <div class="row">
                        <span class="col-5">Practicing Licence:</span>
                        <span class="col-6"><i class="fa fa-eye text-dark"></i>
                        <a class="text-danger" data-fancybox="gallery"  href="{{hospital.practice_license.url}}"> View Practicing Licence</a></span>
                    </div>




                    </div>
                    <div class="col-md-12 mt-3">
                        <p class="text-success">Control Details</p>
                        <div class="row">
                            <span class="col-5">Submitted on: </span>
                            <span class="col-6"><strong>{{hospital.reg_date}}</strong></span>
                        </div>
                        <div class="row">
                            <span class="col-5">Vetted on: </span>
                            <span class="col-6 "><strong>{{hospital.reg_date}}</strong></span>
                        </div>
                        <div class="row">
                            <span class="col-5">Vetted by: </span>
                            <span class="col-6 "><strong>{{ user.first_name }} {{ user.last_name }}</strong></span>
                        </div>
                    </div>
                </div>
        </main>
        <div class="row">
            <hr style="border: 1px solid rgba(87, 84, 84, 0.055); width: 80%;">
            <div class="col-md-9 offset-md-3 mb-3">
            <button type="button" class="btn btn-warning text-white"><i class="fa fa-check"></i> Approve</button>
            <button type="button" class="btn btn-danger"><i class="fa fa-times"></i> Reject</button>
            <button type="button" class="btn btn-success text-white"><i class="fa fa-eye"></i> Verify Documents Online</button>
            <a href="{% url 'monitoring_dashboard' %}" <button type="button" class="btn btn-secondary text-white"><i class="fa fa-times"></i> close</button></a>

        </div>
        </div>
<!--end Copy here-->





<!--Jquery plugin-->
  <script src="{% static 'js/jquery.js' %}"></script>

<!--other javascript plugins-->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
  <script>
  $('#mydata').dataTable();

  let urlMenu = document.getElementById('dropdown');
  urlMenu.onchange = function(){
    let userOption = this.options[this.selectedIndex];
    if(userOption.value != "nothing"){
      window.open(userOption.value, "_self", "");
    }
  }
  </script>


{% endblock %}
