{% extends 'base.html'%}
{% load static %}

{% block title%}| About Us {% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}" />
{% endblock %}

{% block content %}
  <!--body-->
          <div class="clearfix"></div>
          <div class="a-container">
          <section class="one">
            <p>Who We Are</p>
          </section>
          <section class="two">
            <div class="two-a">
              <div class="box">
                <a href="{% url 'about' %}"><img src="{% static 'img/about.png' %}" alt="about rrbn portal"></a>
                <center><a href="{% url 'about' %}"><p>About RRBN Inspection & Monitoring Portal</p></a></center>
              </div>
              <div class="box">
                <a href="{% url 'mission' %}"><img src="{% static 'img/mission.png' %}" alt="our mission"></a>
                <center><a href="{% url 'mission' %}"><p>Our Mission</p></a></center>
              </div>
              <div class="box">
                <a href="{% url 'mandate' %}"><img src="{% static 'img/mandate.png' %}" alt="the Mand E mandate"></a>
                <center><a href="{% url 'mandate' %}"><p>The Inspection  & Monitoring Mandate</p></a></center>
              </div>
              <div class="box">
                <a href="{% url 'benefits' %}"><img src="{% static 'img/mandate.png' %}" alt="Benefits"></a>
                <center><a href="{% url 'benefits' %}"><p>Benefits</p></a></center>
              </div>
              <center><p>Have a question?</p>
              <a class="faq" href="{% url 'faq' %}">Click here to visit our Faq section</a></center>
            </div>
            <div class="two-b">
              <img src="{% static 'img/logo.jpg' %}" alt="rrbn logo">
              <h3>About RRBN Inspection & Mornitoring</h3>
              <p>The Radiographers Registration Boadr of Nigeria (RRBN) is a parastatal under the ministry of health.RRBN was established by Decree N0. 42 of 1987, now Cap R1 Laws of the Fedration of Nigeria 2004.RRBN key mandate is to regulate the price of Radiography in Nigeria.This key mandate of the board is cmostly carried out through its Monitoring and Enforcement Department.</p>
              <a class="btn-2" href="#">READ MORE</a>

              <div class="push"></div>

              <h3>About the RRBN Inspection & Mornitoring Portal</h3>
              <p>The RRBN Inspection & Mornitoring Portal is an Electronic platform for Data Consolidation of all major activities crried out by the Monitoring and Enforcement Department of the RRBN in its bid to uphold the mandate of the Board to regulate the Practice of radiography in Nigeria. RRBN Monitoring and Enforcement Portal provides a repository of easily retrivable data of all hospitals dispensing ionizing radiation, their addresses, list of equipments, radiographers covering the hospital, practice registration/compliance status, registration and renewal module for ease of registrations/renewals as well as inspection module for inspections and scheduling realtime upload of inspection observation/reports.</p>
              <a class="btn-2" href="#">READ MORE</a>
              <div class="push"></div>
            </div>
          </section>
        </div>


{% endblock %}
