{% extends 'base.html'%}
{% load static %}
{% block title%}| RRBN Core Mandate {% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}" />
{% endblock %}


{% block content %}


<div class="a-container">
          <section class="one">
            <p>Who We Are</p>
          </section>
          <section class="two">
            <div class="two-a">
              <div class="box">
                <a href="{% url 'about' %}"><img src="{% static 'img/about.png' %}" alt="about rrbn portal"></a>
                <center><a href="{% url 'about' %}"><p>About RRBN M&E Portal</p></a></center>
              </div>
              <div class="box">
                <a href="{% url 'mission' %}"><img src="{% static 'img/mission.png' %}" alt="our mission"></a>
                <center><a href="{% url 'mission' %}"><p>Our Mission</p></a></center>
              </div>
              <div class="box">
                <a href="{% url 'mandate' %}"><img src="{% static 'img/mandate.png' %}" alt="the Mand E mandate"></a>
                <center><a href="{% url 'mandate' %}"><p>The M & E Mandate</p></a></center>
              </div>
              <div class="box">
                <a href="{% url 'benefits' %}"><img src="{% static 'img/benefits.png' %}" alt="Benefits"></a>
                <center><a href="{% url 'benefits' %}"><p>Benefits</p></a></center>
              </div>
              <center><p>Have a question?</p>
              <a class="faq" href="{% url 'faq' %}">Click here to visit our Faq section</a></center>
            </div>
            <div class="two-b">
              <h3>The M&E Mandate</h3>

              <p>
				<span style="font-size: 17px;"> SENSITIZATION VISITS TO HOSPITALS AND CENTERS</span><br>
				The Monitoring/sensitization visits are to hospitals/diagnostic centrers and the radiographers practising in Nigeria. The visits are usually used to sensitize them on their profession and the regulatory body(RRBN).
			  </p>
			  <p>
				<span style="font-size: 17px;"> PUBLICITY</span><br>
				The department is saddled with organizing radical enlightenment campaigns through the media by way of talk-show and jingles. this is to help create massive awareness on the activities of the monitoring and enforcement arm of the board in particular and RRBN in general. However, routine visit to centres for sensitization and monitoring can never be overlooked.
			  </p>
			  <p>
				<span style="font-size: 17px;"> DATABASE</span><br>
				The monitoring department on a continuous basis revalidates the database of hospitals and diagnostic centre that are fully accredited and registered by the board. Reaccreditation visits to some hospitals for internship and training of radiography students is an on-going activity
			  </p>
			  <p>
				<span style="font-size: 17px;">DISCIPLINARY FUNCTIONS</span><br>
				RRBN also wishes to state that its disciplinary activities are on-going. The general public can report to the board ant act(s) of malpractice or negligence committed against them by registered radiographers. Such reports can be made at headquarters in Abuja or our zonal offices in lagos, Port-hacourt, Kano, Sokoto , Asaba, Calabar and Nnewi. Complaints can also be sent as an email attachments to minitoring@rrbn.gov.ng. We solicit the cooperation and support of all stake holders, in this effort to raise the standard of health care to our people at the optimum levels also to get rid of quacks in our society.
			  </p>

              <div class="push"></div>
            </div>
          </section>
        </div>

{% endblock %}
