
/*body styles*/

.a-container {
  width: 80%;
  margin: 20px auto 10px auto;
  height: 650px;
}

.btn-2 {
  background: rgb(10, 16, 31);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
}

a.btn-2:hover {
  color: rgb(255, 115, 0);
}

.one {
  width: 100%;
}

.one p {
  font-size: 24px;
  padding: 10px 0px;
}

a.faq:hover {
  color: orangered;
}

.two {
  width: 100%;
}
.two .two-a {
  width: 35%;
  height: 450px;
  float: left;
  background: #ebf0f8;
}

.two .two-a .box {
  width: 45%;
  height: 150px;
  background: #fff;
  float: left;
  margin: 2.5%;
}

.two .two-a .box img {
  width: 45px;
  height: 45px;
  margin: 20% 35% 0% 35%;
  border-radius: 25px;
  background: black;
  padding: 7px;
}
.two .two-a .box p {
  font-size: 13px;
  font-weight: bold;
}

.two .two-b {
  width: 62%;
  height: 450px;
  float: right;
  margin-left: 10px;
}

.push {
  padding-bottom: 15px;
}
.two .two-b h3 {
  margin-bottom: -25px;
  color: rgb(231, 108, 26);
}

.two .two-b p {
  font-size: 14px;
}

/*footer styles*/


/* Media Queries*/

@media screen and (max-width: 768px) {
  .one p {
    text-align: center;
  }

  .two .two-a {
    width: 100%;
  }

  .two .two-b {
    width: 100%;
    height: auto;
    padding-top: 10px;
  }

  .two .two-b img {
    margin-left: 130px;
  }

  .two .two-b h3 {
    text-align: center;
  }

  .two .two-b p {
    text-align: justify;
  }

  .btn-2 {
    margin-left: 100px;
  }
}
